// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='/js/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bootstrap.min.js')
script(src='/js/validation/bootstrapValidator.min.js')
script(src='/js/validation/adduser-validation.js')
