// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='/js/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bootstrap.min.js')
script(src='/js/custom.js')
script(src='/js/jquery-ui.js')
script(src='/js/jquery.ui.chatbox.js')
script(src='/js/core.js')